<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Devil's Agenda.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>820E02981F5BE2A100EA07FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>820E02AC1F5BE2A100EA07FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>820E02B71F5BE2A100EA07FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
